# Mastering Polars queries with contexts and more complex expressions

In [1]:
import polars as pl
import numpy as np

In [2]:
df = pl.scan_csv('hotels-europe_price.csv')

## Some basic Dataframe inspection

In [3]:
df.columns

['hotel_id',
 'price',
 'offer',
 'offer_cat',
 'year',
 'month',
 'weekend',
 'holiday',
 'nnights',
 'scarce_room']

In [4]:
df.head().collect()

shape: (5, 10)
┌──────────┬───────┬───────┬──────────────┬───┬─────────┬─────────┬─────────┬─────────────┐
│ hotel_id ┆ price ┆ offer ┆ offer_cat    ┆ … ┆ weekend ┆ holiday ┆ nnights ┆ scarce_room │
│ ---      ┆ ---   ┆ ---   ┆ ---          ┆   ┆ ---     ┆ ---     ┆ ---     ┆ ---         │
│ i64      ┆ i64   ┆ i64   ┆ str          ┆   ┆ i64     ┆ i64     ┆ i64     ┆ i64         │
╞══════════╪═══════╪═══════╪══════════════╪═══╪═════════╪═════════╪═════════╪═════════════╡
│ 1        ┆ 172   ┆ 0     ┆ 0% no offer  ┆ … ┆ 1       ┆ 0       ┆ 1       ┆ 0           │
│ 1        ┆ 122   ┆ 1     ┆ 15-50% offer ┆ … ┆ 1       ┆ 0       ┆ 1       ┆ 0           │
│ 1        ┆ 122   ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 1       ┆ 1       ┆ 0           │
│ 1        ┆ 552   ┆ 1     ┆ 1-15% offer  ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 0           │
│ 1        ┆ 122   ┆ 1     ┆ 15-50% offer ┆ … ┆ 1       ┆ 0       ┆ 1       ┆ 0           │
└──────────┴───────┴───────┴──────────────┴───┴─────────┴─────────┴─────────┴─────────────┘

In [5]:
df.collect().describe()

shape: (9, 11)
┌────────────┬────────────┬────────────┬──────────┬───┬──────────┬──────────┬──────────┬───────────┐
│ describe   ┆ hotel_id   ┆ price      ┆ offer    ┆ … ┆ weekend  ┆ holiday  ┆ nnights  ┆ scarce_ro │
│ ---        ┆ ---        ┆ ---        ┆ ---      ┆   ┆ ---      ┆ ---      ┆ ---      ┆ om        │
│ str        ┆ f64        ┆ f64        ┆ f64      ┆   ┆ f64      ┆ f64      ┆ f64      ┆ ---       │
│            ┆            ┆            ┆          ┆   ┆          ┆          ┆          ┆ f64       │
╞════════════╪════════════╪════════════╪══════════╪═══╪══════════╪══════════╪══════════╪═══════════╡
│ count      ┆ 148021.0   ┆ 148021.0   ┆ 148021.0 ┆ … ┆ 148021.0 ┆ 148021.0 ┆ 148021.0 ┆ 148021.0  │
│ null_count ┆ 0.0        ┆ 0.0        ┆ 0.0      ┆ … ┆ 0.0      ┆ 0.0      ┆ 0.0      ┆ 0.0       │
│ mean       ┆ 10752.7127 ┆ 179.009674 ┆ 0.583667 ┆ … ┆ 0.665156 ┆ 0.218489 ┆ 1.330804 ┆ 0.527959  │
│            ┆ 77         ┆            ┆          ┆   ┆          ┆          ┆          ┆           │
│ std        ┆ 6545.31996 ┆ 256.056927 ┆ 0.492952 ┆ … ┆ 0.471938 ┆ 0.413223 ┆ 0.939674 ┆ 0.499219  │
│            ┆ 5          ┆            ┆          ┆   ┆          ┆          ┆          ┆           │
│ min        ┆ 1.0        ┆ 5.0        ┆ 0.0      ┆ … ┆ 0.0      ┆ 0.0      ┆ 1.0      ┆ 0.0       │
│ 25%        ┆ 5227.0     ┆ 74.0       ┆ 0.0      ┆ … ┆ 0.0      ┆ 0.0      ┆ 1.0      ┆ 0.0       │
│ 50%        ┆ 10403.0    ┆ 113.0      ┆ 1.0      ┆ … ┆ 1.0      ┆ 0.0      ┆ 1.0      ┆ 1.0       │
│ 75%        ┆ 15132.0    ┆ 192.0      ┆ 1.0      ┆ … ┆ 1.0      ┆ 0.0      ┆ 1.0      ┆ 1.0       │
│ max        ┆ 22902.0    ┆ 39996.0    ┆ 1.0      ┆ … ┆ 1.0      ┆ 1.0      ┆ 4.0      ┆ 1.0       │
└────────────┴────────────┴────────────┴──────────┴───┴──────────┴──────────┴──────────┴───────────┘

## Part 1: Defining the context

In [6]:
df.select([
    pl.col('hotel_id')
]).collect()

shape: (148_021, 1)
┌──────────┐
│ hotel_id │
│ ---      │
│ i64      │
╞══════════╡
│ 1        │
│ 1        │
│ 1        │
│ 1        │
│ …        │
│ 22902    │
│ 22902    │
│ 22902    │
│ 22902    │
└──────────┘

In [7]:
df.select([
    pl.col('hotel_id'),
    pl.col('year'),
    pl.col('price'),
    pl.col('offer_cat')
]).collect()

shape: (148_021, 4)
┌──────────┬──────┬───────┬──────────────┐
│ hotel_id ┆ year ┆ price ┆ offer_cat    │
│ ---      ┆ ---  ┆ ---   ┆ ---          │
│ i64      ┆ i64  ┆ i64   ┆ str          │
╞══════════╪══════╪═══════╪══════════════╡
│ 1        ┆ 2017 ┆ 172   ┆ 0% no offer  │
│ 1        ┆ 2018 ┆ 122   ┆ 15-50% offer │
│ 1        ┆ 2017 ┆ 122   ┆ 15-50% offer │
│ 1        ┆ 2017 ┆ 552   ┆ 1-15% offer  │
│ …        ┆ …    ┆ …     ┆ …            │
│ 22902    ┆ 2018 ┆ 109   ┆ 15-50% offer │
│ 22902    ┆ 2018 ┆ 109   ┆ 15-50% offer │
│ 22902    ┆ 2017 ┆ 446   ┆ 15-50% offer │
│ 22902    ┆ 2017 ┆ 117   ┆ 15-50% offer │
└──────────┴──────┴───────┴──────────────┘

### Filter

In [8]:
df.filter(
    (pl.col('year') == 2017)
).collect()

shape: (62_235, 10)
┌──────────┬───────┬───────┬──────────────┬───┬─────────┬─────────┬─────────┬─────────────┐
│ hotel_id ┆ price ┆ offer ┆ offer_cat    ┆ … ┆ weekend ┆ holiday ┆ nnights ┆ scarce_room │
│ ---      ┆ ---   ┆ ---   ┆ ---          ┆   ┆ ---     ┆ ---     ┆ ---     ┆ ---         │
│ i64      ┆ i64   ┆ i64   ┆ str          ┆   ┆ i64     ┆ i64     ┆ i64     ┆ i64         │
╞══════════╪═══════╪═══════╪══════════════╪═══╪═════════╪═════════╪═════════╪═════════════╡
│ 1        ┆ 172   ┆ 0     ┆ 0% no offer  ┆ … ┆ 1       ┆ 0       ┆ 1       ┆ 0           │
│ 1        ┆ 122   ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 1       ┆ 1       ┆ 0           │
│ 1        ┆ 552   ┆ 1     ┆ 1-15% offer  ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 0           │
│ 1        ┆ 114   ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 0       ┆ 1       ┆ 0           │
│ …        ┆ …     ┆ …     ┆ …            ┆ … ┆ …       ┆ …       ┆ …       ┆ …           │
│ 22901    ┆ 94    ┆ 0     ┆ 0% no offer  ┆ … ┆ 1       ┆ 0       ┆ 1       ┆ 1           │
│ 22902    ┆ 119   ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 0       ┆ 1       ┆ 1           │
│ 22902    ┆ 446   ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 1           │
│ 22902    ┆ 117   ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 1       ┆ 1       ┆ 1           │
└──────────┴───────┴───────┴──────────────┴───┴─────────┴─────────┴─────────┴─────────────┘

In [9]:
df.filter(
    (pl.col('year') == 2017) &
    (pl.col('price') > 2500)
).collect()

shape: (137, 10)
┌──────────┬───────┬───────┬──────────────┬───┬─────────┬─────────┬─────────┬─────────────┐
│ hotel_id ┆ price ┆ offer ┆ offer_cat    ┆ … ┆ weekend ┆ holiday ┆ nnights ┆ scarce_room │
│ ---      ┆ ---   ┆ ---   ┆ ---          ┆   ┆ ---     ┆ ---     ┆ ---     ┆ ---         │
│ i64      ┆ i64   ┆ i64   ┆ str          ┆   ┆ i64     ┆ i64     ┆ i64     ┆ i64         │
╞══════════╪═══════╪═══════╪══════════════╪═══╪═════════╪═════════╪═════════╪═════════════╡
│ 5        ┆ 3087  ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 1           │
│ 113      ┆ 2940  ┆ 1     ┆ 1-15% offer  ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 0           │
│ 118      ┆ 2998  ┆ 0     ┆ 0% no offer  ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 1           │
│ 197      ┆ 3308  ┆ 0     ┆ 0% no offer  ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 0           │
│ …        ┆ …     ┆ …     ┆ …            ┆ … ┆ …       ┆ …       ┆ …       ┆ …           │
│ 22017    ┆ 2531  ┆ 0     ┆ 0% no offer  ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 1           │
│ 22039    ┆ 2536  ┆ 0     ┆ 0% no offer  ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 0           │
│ 22147    ┆ 6510  ┆ 0     ┆ 0% no offer  ┆ … ┆ 0       ┆ 1       ┆ 1       ┆ 1           │
│ 22164    ┆ 3218  ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 1           │
└──────────┴───────┴───────┴──────────────┴───┴─────────┴─────────┴─────────┴─────────────┘

In [10]:
df.filter(
    (pl.col('year') != 2018) &
    (pl.col('price') > 2500) & 
    (pl.col('price') < 2600) &
    (
        (pl.col('offer_cat') == "50%-75% offer") |
        (pl.col('offer_cat') == "0% no offer")
    )
).collect()

shape: (10, 10)
┌──────────┬───────┬───────┬─────────────┬───┬─────────┬─────────┬─────────┬─────────────┐
│ hotel_id ┆ price ┆ offer ┆ offer_cat   ┆ … ┆ weekend ┆ holiday ┆ nnights ┆ scarce_room │
│ ---      ┆ ---   ┆ ---   ┆ ---         ┆   ┆ ---     ┆ ---     ┆ ---     ┆ ---         │
│ i64      ┆ i64   ┆ i64   ┆ str         ┆   ┆ i64     ┆ i64     ┆ i64     ┆ i64         │
╞══════════╪═══════╪═══════╪═════════════╪═══╪═════════╪═════════╪═════════╪═════════════╡
│ 922      ┆ 2522  ┆ 0     ┆ 0% no offer ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 1           │
│ 1087     ┆ 2580  ┆ 0     ┆ 0% no offer ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 0           │
│ 3417     ┆ 2507  ┆ 0     ┆ 0% no offer ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 1           │
│ 7905     ┆ 2512  ┆ 0     ┆ 0% no offer ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 1           │
│ …        ┆ …     ┆ …     ┆ …           ┆ … ┆ …       ┆ …       ┆ …       ┆ …           │
│ 9535     ┆ 2509  ┆ 0     ┆ 0% no offer ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 1           │
│ 18785    ┆ 2509  ┆ 0     ┆ 0% no offer ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 1           │
│ 22017    ┆ 2531  ┆ 0     ┆ 0% no offer ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 1           │
│ 22039    ┆ 2536  ┆ 0     ┆ 0% no offer ┆ … ┆ 0       ┆ 1       ┆ 4       ┆ 0           │
└──────────┴───────┴───────┴─────────────┴───┴─────────┴─────────┴─────────┴─────────────┘

### with_columns

In [11]:
df.with_columns(
    breakfast = pl.lit(1)
).collect()

shape: (148_021, 11)
┌──────────┬───────┬───────┬──────────────┬───┬─────────┬─────────┬─────────────┬───────────┐
│ hotel_id ┆ price ┆ offer ┆ offer_cat    ┆ … ┆ holiday ┆ nnights ┆ scarce_room ┆ breakfast │
│ ---      ┆ ---   ┆ ---   ┆ ---          ┆   ┆ ---     ┆ ---     ┆ ---         ┆ ---       │
│ i64      ┆ i64   ┆ i64   ┆ str          ┆   ┆ i64     ┆ i64     ┆ i64         ┆ i32       │
╞══════════╪═══════╪═══════╪══════════════╪═══╪═════════╪═════════╪═════════════╪═══════════╡
│ 1        ┆ 172   ┆ 0     ┆ 0% no offer  ┆ … ┆ 0       ┆ 1       ┆ 0           ┆ 1         │
│ 1        ┆ 122   ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 1       ┆ 0           ┆ 1         │
│ 1        ┆ 122   ┆ 1     ┆ 15-50% offer ┆ … ┆ 1       ┆ 1       ┆ 0           ┆ 1         │
│ 1        ┆ 552   ┆ 1     ┆ 1-15% offer  ┆ … ┆ 1       ┆ 4       ┆ 0           ┆ 1         │
│ …        ┆ …     ┆ …     ┆ …            ┆ … ┆ …       ┆ …       ┆ …           ┆ …         │
│ 22902    ┆ 109   ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 1       ┆ 1           ┆ 1         │
│ 22902    ┆ 109   ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 1       ┆ 1           ┆ 1         │
│ 22902    ┆ 446   ┆ 1     ┆ 15-50% offer ┆ … ┆ 1       ┆ 4       ┆ 1           ┆ 1         │
│ 22902    ┆ 117   ┆ 1     ┆ 15-50% offer ┆ … ┆ 1       ┆ 1       ┆ 1           ┆ 1         │
└──────────┴───────┴───────┴──────────────┴───┴─────────┴─────────┴─────────────┴───────────┘

In [12]:
df.with_columns(
    random_breakfast = pl.Series(
        np.random.choice([0, 1], len(df.select(pl.col("hotel_id")).collect()))
    )
).collect()

# to create values for each row the length of the dataframe has to be determined. 
# selecting and collecting only 'hotel_id' takes 13ms, 
# selecting the whole dataframe (with pl.all() or pl.col('*')) takes 31ms

shape: (148_021, 11)
┌──────────┬───────┬───────┬──────────────┬───┬─────────┬─────────┬─────────────┬──────────────────┐
│ hotel_id ┆ price ┆ offer ┆ offer_cat    ┆ … ┆ holiday ┆ nnights ┆ scarce_room ┆ random_breakfast │
│ ---      ┆ ---   ┆ ---   ┆ ---          ┆   ┆ ---     ┆ ---     ┆ ---         ┆ ---              │
│ i64      ┆ i64   ┆ i64   ┆ str          ┆   ┆ i64     ┆ i64     ┆ i64         ┆ i64              │
╞══════════╪═══════╪═══════╪══════════════╪═══╪═════════╪═════════╪═════════════╪══════════════════╡
│ 1        ┆ 172   ┆ 0     ┆ 0% no offer  ┆ … ┆ 0       ┆ 1       ┆ 0           ┆ 0                │
│ 1        ┆ 122   ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 1       ┆ 0           ┆ 1                │
│ 1        ┆ 122   ┆ 1     ┆ 15-50% offer ┆ … ┆ 1       ┆ 1       ┆ 0           ┆ 1                │
│ 1        ┆ 552   ┆ 1     ┆ 1-15% offer  ┆ … ┆ 1       ┆ 4       ┆ 0           ┆ 0                │
│ …        ┆ …     ┆ …     ┆ …            ┆ … ┆ …       ┆ …       ┆ …           ┆ …                │
│ 22902    ┆ 109   ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 1       ┆ 1           ┆ 1                │
│ 22902    ┆ 109   ┆ 1     ┆ 15-50% offer ┆ … ┆ 0       ┆ 1       ┆ 1           ┆ 0                │
│ 22902    ┆ 446   ┆ 1     ┆ 15-50% offer ┆ … ┆ 1       ┆ 4       ┆ 1           ┆ 1                │
│ 22902    ┆ 117   ┆ 1     ┆ 15-50% offer ┆ … ┆ 1       ┆ 1       ┆ 1           ┆ 0                │
└──────────┴───────┴───────┴──────────────┴───┴─────────┴─────────┴─────────────┴──────────────────┘

### group_by

In [13]:
df.group_by('hotel_id').agg(
    pl.col('price').mean().alias('avg_price'),
).collect()

# you can add maintain_order=True to the groupby()
# this will ensure that the order remains similar
# to that in the dataframe. however the query becomes
# slower if you include it (see Reference guide)

shape: (22_902, 2)
┌──────────┬────────────┐
│ hotel_id ┆ avg_price  │
│ ---      ┆ ---        │
│ i64      ┆ f64        │
╞══════════╪════════════╡
│ 16832    ┆ 315.0      │
│ 7056     ┆ 429.0      │
│ 22696    ┆ 123.7      │
│ 19688    ┆ 273.333333 │
│ …        ┆ …          │
│ 11591    ┆ 95.875     │
│ 12455    ┆ 264.0      │
│ 12887    ┆ 438.6      │
│ 21759    ┆ 225.125    │
└──────────┴────────────┘

In [14]:
df.group_by(['hotel_id', 'year'],maintain_order=True).agg(
    pl.col('price').mean().alias('avg_price'),
    pl.col('price').min().alias('min_price'),
    pl.col('price').max().alias('max_price'),
    pl.col('price').n_unique().alias('n_prices')
).head(15).collect()

shape: (15, 6)
┌──────────┬──────┬────────────┬───────────┬───────────┬──────────┐
│ hotel_id ┆ year ┆ avg_price  ┆ min_price ┆ max_price ┆ n_prices │
│ ---      ┆ ---  ┆ ---        ┆ ---       ┆ ---       ┆ ---      │
│ i64      ┆ i64  ┆ f64        ┆ i64       ┆ i64       ┆ u32      │
╞══════════╪══════╪════════════╪═══════════╪═══════════╪══════════╡
│ 1        ┆ 2017 ┆ 240.0      ┆ 114       ┆ 552       ┆ 4        │
│ 1        ┆ 2018 ┆ 122.0      ┆ 122       ┆ 122       ┆ 1        │
│ 2        ┆ 2017 ┆ 261.666667 ┆ 119       ┆ 547       ┆ 2        │
│ 3        ┆ 2017 ┆ 297.25     ┆ 117       ┆ 737       ┆ 4        │
│ …        ┆ …    ┆ …          ┆ …         ┆ …         ┆ …        │
│ 7        ┆ 2017 ┆ 172.0      ┆ 167       ┆ 177       ┆ 2        │
│ 8        ┆ 2017 ┆ 597.0      ┆ 207       ┆ 987       ┆ 2        │
│ 9        ┆ 2018 ┆ 349.2      ┆ 210       ┆ 521       ┆ 5        │
│ 9        ┆ 2017 ┆ 472.0      ┆ 197       ┆ 1145      ┆ 4        │
└──────────┴──────┴────────────┴───────────┴───────────┴──────────┘

## Part 2: Writing more complex queries

In [15]:
df_len = len(df.select(pl.col('hotel_id')).collect())

In [16]:
df.with_columns(
        is_breakfast = pl.Series(np.random.choice([0, 1], df_len)),
        is_premium_location = pl.Series(np.random.choice([0, 1], df_len)),
        total_price = pl.col('price') * pl.col('nnights')
    ).filter(
        (pl.col('is_breakfast') == 1) &
        (pl.col('is_premium_location') == 1) &
        (
            (pl.col('total_price') >= 1000) |
            (pl.col('price') > 1000)
        ) &
        (pl.col('year') == 2018) &
        (pl.col('month').is_in([1, 2, 3, 4, 5, 6]))
    ).select(
        'hotel_id',
        'year',
        'month',
        'price',
        'total_price',
        'is_breakfast',
        'is_premium_location',
        'offer_cat'
    ).sort(by='total_price', descending=True).collect()

shape: (66, 8)
┌──────────┬──────┬───────┬───────┬─────────────┬──────────────┬─────────────────────┬─────────────┐
│ hotel_id ┆ year ┆ month ┆ price ┆ total_price ┆ is_breakfast ┆ is_premium_location ┆ offer_cat   │
│ ---      ┆ ---  ┆ ---   ┆ ---   ┆ ---         ┆ ---          ┆ ---                 ┆ ---         │
│ i64      ┆ i64  ┆ i64   ┆ i64   ┆ i64         ┆ i64          ┆ i64                 ┆ str         │
╞══════════╪══════╪═══════╪═══════╪═════════════╪══════════════╪═════════════════════╪═════════════╡
│ 14739    ┆ 2018 ┆ 3     ┆ 7674  ┆ 7674        ┆ 1            ┆ 1                   ┆ 0% no offer │
│ 10945    ┆ 2018 ┆ 4     ┆ 5000  ┆ 5000        ┆ 1            ┆ 1                   ┆ 0% no offer │
│ 1087     ┆ 2018 ┆ 3     ┆ 1723  ┆ 1723        ┆ 1            ┆ 1                   ┆ 0% no offer │
│ 11432    ┆ 2018 ┆ 3     ┆ 1551  ┆ 1551        ┆ 1            ┆ 1                   ┆ 0% no offer │
│ …        ┆ …    ┆ …     ┆ …     ┆ …           ┆ …            ┆ …                   ┆ …           │
│ 20379    ┆ 2018 ┆ 5     ┆ 1012  ┆ 1012        ┆ 1            ┆ 1                   ┆ 0% no offer │
│ 10268    ┆ 2018 ┆ 4     ┆ 1008  ┆ 1008        ┆ 1            ┆ 1                   ┆ 0% no offer │
│ 10268    ┆ 2018 ┆ 3     ┆ 1008  ┆ 1008        ┆ 1            ┆ 1                   ┆ 0% no offer │
│ 20847    ┆ 2018 ┆ 6     ┆ 1001  ┆ 1001        ┆ 1            ┆ 1                   ┆ 0% no offer │
└──────────┴──────┴───────┴───────┴─────────────┴──────────────┴─────────────────────┴─────────────┘